@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Delicious+Handrawn');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex: 1 1 auto;
	max-width: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
	padding: 2px;
}

/* Set the background color of the scrollbar track */
::-webkit-scrollbar-track {
	background-color: #262626;
}

/* Set the color and border of the scrollbar thumb */
::-webkit-scrollbar-thumb {
	background-color: #262626;
	border-radius: 10px;
	border: 3px solid #3f3f46;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #3f3f46 #262626;
}

/* Internet Explorer */
*::-ms-scrollbar {
	width: 16px;
	height: 16px;
}

*::-ms-scrollbar-thumb {
	background-color: #3f3f46;
	border-radius: 10px;
	border: 3px solid #262626;
}

*::-ms-scrollbar-track {
	background-color: #262626;
}

@media (max-width: 768px) {
	.splide {
		max-width: 100vw !important;
	}
}

.splide__slide {
	display: flex;
	justify-content: center;
}

.splide__arrow {
	background: none !important;
	svg {
		fill: white !important;
	}
}

@media only screen and (max-width: 768px) {
	.splide__arrow {
		background: none !important;
		svg {
			fill: black !important;
		}
	}
}

.splide__pagination__page {
	background: white !important;
}

#pe-calendar html {
	display: flex;
}
