@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Delicious+Handrawn');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex: 1 1 auto;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (max-width: 768px) {
	.splide {
		max-width: 90vw !important;
	}
}

.splide__slide {
	display: flex;
	justify-content: center;
}

.splide__arrow svg {
	fill: white;
}

.splide__arrow--prev {
	left: 0;
}
.splide__arrow--next {
	right: 0;
}

@media (max-width: 768) {
	.splide__arrow--prev {
		left: 1;
	}
	.splide__arrow--next {
		right: 1;
	}
}

.splide__pagination__page {
	background: black;
}
